In [165]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# **1.Read the dataset as a dataframe. Create a copy of your dataframe. Solve the rest of the questions using this dataframe copy.**

In [166]:
df=pd.read_csv('/kaggle/input/weather-dataset-rattle-package/weatherAUS.csv')
df.head()

In [167]:
df.describe().T

In [168]:
df.info()

# **3. Find out the shape and size info of the dataset.**

In [169]:
df.shape

In [170]:
df.size

# **4.Find out the types values of the columns and save the result as a dataframe.**

In [171]:
df4 = pd.DataFrame(df.dtypes)
df4.columns =["dtypes"]

df4

# **5.Find out the non-null counts of the columns and save the result as a dataframe.**

In [172]:
df5 = pd.DataFrame(df.count())
df5.columns = ["notnull"]
df5

# **6.Find out the null counts of the columns and save the result as a dataframe.**

In [173]:
df6 = pd.DataFrame(df.isna().sum())
df6.columns = ["isnull"]
df6

# **7.Find out the unique counts of the columns and save the result as a dataframe.**

In [174]:
df7 = pd.DataFrame(df.nunique())
df7.columns = ["nunique"]
df7

# **8.Merge the dataframes you created in questions 4-5-6-7.**

In [175]:
frames = [df4,df5,df6,df7]
result = pd.concat(frames,axis=1)
result.head()

# **9.Lowercase all column names.**

In [176]:
df.columns= df.columns.str.lower()
df.head()

# **10.Change all the No values to NoRain and all the Yes values to Rain in raintoday and raintomorrow columns.**

In [177]:
df["raintoday"].replace("No", "NoRain")
df["raintoday"].replace("Yes", "Rain")
df["raintomorrow"].replace("No", "NoRain")
df["raintomorrow"].replace("Yes", "Rain")
df[["raintoday","raintomorrow"]]

# **11.Change the data type of "date" (object) column to datetime64 and reformat the date as DD/MM/YYYY.**

In [178]:
pd.to_datetime(df['date'])

In [179]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['date'] = df['date'].dt.strftime('%d/%m/%Y')
df['date']

# **12.Create a new column called "difference", calculate the difference between maxtemp and mintemp columns for each row, and store the value in this new column.**

In [180]:
df['difference'] = df['maxtemp'] - df['mintemp']
df

# **13.Remove the evaporation and sunshine columns from the dataset permanently.**

In [181]:
l = ['evaporation','sunshine']
#df.drop(l,axis = 1, inplace = True)

# **14.Find out the most rainy day for each city.**

In [182]:
#df.groupby('Location').aggregate({'Rainfall':'max'})

# **15.Filter out all the data for the city 'Albury' and then sort according to maxtemp column.**

In [183]:
new_df = df[df.location == 'Albury']
new_df.sort_values(by=['maxtemp'])

# **16.Find out the NaN counts for each column.**

In [184]:
df.isnull().sum()

# **17.Remove the rows with NaN values in "windgustdir" column from the dataframe permanently.**

In [185]:
df.dropna(subset=['windgustdir'],inplace = True)

In [186]:
df.isnull().sum()

# **18.Create a new dataframe, use "Location" column as the index of the dataframe, display the min, max, and median values of "evaporation" and "sunshine" columns in this dataframe.**

In [187]:
df

In [188]:
df.groupby('location').aggregate({'evaporation':['min','max',np.median],'sunshine':['min','max',np.median]})

# **19.Find out the hottest day of "Perth". Example output: Timestamp('2015-01-05 00:00:00')**

In [189]:
mask = df['location']=='Perth'
result = df[mask].sort_values('maxtemp',ascending=False).head(1)['date']
result

# **20.Group your dataframe by location and find out the averages of all numeric values.**

In [190]:
df.groupby('location').mean()